<%- include("partials/head.ejs") %>
<h1 style="text-align: center; color: whitesmoke; font-family: 'Gentium Book Plus', serif; font-weight: 400; font-style: normal; font-size: 2rem; margin-bottom: 50px; font-family: cursive;"><%= book_title %></h1>
<div style="display: flex; justify-content: center;">
  <div style="display: flex; background: #191919; gap: 100px; width: 80%; border-radius: 12px;">
    <div style="display: inline-block;">
      <div>
        <img src="https://covers.openlibrary.org/b/olid/<%= cover_id %>.jpg" alt="" id="book_image" style="margin: 50px 50px 20px 50px;    box-shadow:
        1px 2px 2px hsla(274, 60%, 50%, 0.144),
        2px 4px 4px hsla(274, 60%, 50%, 0.159),
        3px 6px 6px hsla(274, 60%, 50%, 0.141); border-radius: 12px;" height="300px" width="200px">
      </div>
      <div style="margin-left: 90px; margin-bottom: 10px;">
        <% for (let i = 0; i < rating; i++) { %>
          <img src="/images/icons8-star-filled-48.png" alt="" height="25">
        <% } %> 
      </div>
      </div>
        <p style="color: rgb(186, 186, 186); font-size: 1.3rem; font-family: cursive;"><span>"</span><%= book_review %><span>"</span></p>
      <div>
    </div>
  </div>
</div>
<form action="/bookDetails" method="post">
  <div style="display: flex; width: 100%; justify-content: center; gap: 15px; align-items: center; margin-top: 40px;">
      <input type="hidden" name="book_title" value="<%= book_title %>">
      <input type="hidden" name="cover_id" value="<%= cover_id %>">
      <p style="color: rgb(90, 90, 90);">read this book?</p>
      <button id="newPostButton" style="border-radius: 12px; height: 30px; width: 130px; font-size: 1rem;">Your views ></button>
  </div>
</form>
  <% if(locals.otherResponse){ %>
      <h2 style="font-size: 2rem; font-family: cursive; color: whitesmoke; padding-left: 50px;">other's view</h2>
      <div style="display: flex; justify-content: center; ">
        <div style=" width: 70%; border-radius: 12px;">
          <ul class="cards">
            <% otherResponse.forEach(element => { %>
              <% if (element.id !== book_id) { %>
                  <li>
                    <form action="/viewBookReview" method="post">
                        <input type="hidden" value="<%= element.id %>" name="book_id">
                        <input type="hidden" value="<%= element.cover_id %>" name="cover_id">
                        <button type="submit" style="background: none;color: inherit;border: none;padding: 0;font: inherit;outline: inherit;">
                            <a href="" class="card">
                                <img src="https://covers.openlibrary.org/b/olid/<%= element.cover_id %>.jpg" class="card__image" alt="" style="width: 300px; height: 400px;"/>
                                <div class="card__overlay">
                                  <div class="card__header">
                                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                                    <!-- <img class="card__thumb" src="https://i.imgur.com/7D7I6dI.png" alt="" /> -->
                                    <div class="card__header-text">
                                      <h3 class="card__title"><%= element.book_name %></h3>            
                                      <div style="display: inline-block; gap: 10px;">
                                        <span class="card__status"><%= element.date_stamp %></span>
                                        <% for (let i = 0; i < element.rating; i++) { %>
                                          <img src="/images/icons8-star-filled-48.png" alt="" height="13">
                                        <% } %> 
                                      </div>
                                    </div>
                                  </div>
                                  <p class="card__description"><%= element.book_review %></p>
                                </div>
                              </a> 
                        </button> 
                    </form>    
                  </li>  
            <% } %>
            <% }); %>
        </ul>
        </div>
      </div>
  <% } %>
<%- include("partials/foot.ejs") %>